.form_wrapper
  =javascript_include_tag 'authentication'
  =stylesheet_link_tag 'authentication'
	-if flash[:error]
		.error=flash[:error]
	=form_tag '/login' do
		%table
			%tbody
				%tr
					%td=label_tag :email, 'Email:'
				%tr
					%td=text_field_tag :email
				%tr
					%td=label_tag :password, 'Password:'
				%tr
					%td=password_field_tag :password
				%tr
					%td=submit_tag 'Login'
