common: &common
  adapter: postgresql
  encoding: utf8
  min_messages: warning
  pool: 5
  username: <username>
  password: <password>

development:
  <<: *common
  database: todo_development

test:
  <<: *common
  database: todo_test
