=javascript_include_tag 'todos'
=stylesheet_link_tag 'todos'

.notepad
  .binding
    .list_header='TODO'
    .list_name=@list.try(:name)
    %a{:class => 'previous', :href => todos_path(:list_id => previous_list.try(:id)), :style => "visibility: #{previous_list ? 'visible' : 'hidden'};"}='<'
    %a{:class => 'next', :href => todos_path(:list_id => next_list.try(:id)), :style => "visibility: #{next_list ? 'visible' : 'hidden'};"}='>'
  %table.lines{:cellpadding => '0', :cellspacing => '0'}
    -@todos.each_with_index do |todo, index|
      %tr
        %td=form_for(todo, :html => {:class => 'update', :id => "update_#{index + 1}"}) {check_box 'todo', 'completed', {:disabled => todo.new_record? || todo.completed_at}}
        %td
        %td=form_for(todo, :html => {:class => 'create', :id => "create_#{index + 1}"}) {|form| form.text_field :summary, {:autocomplete => 'off', :readonly => todo.completed_at}}
  .status
    =link_to 'Active', todos_path(:view => 'active'), :class => @view_completed ? '' : 'selected'
    |
    =link_to 'Completed', todos_path(:view => 'completed'), :class => @view_completed ? 'selected' : ''
