$form_width: 280px

.form_wrapper
	margin: auto
	margin-top: 15px
	width: $form_width
	input
		&[type="password"], &[type="text"]
			display: block
			margin: 5px 0 10px 0
			width: $form_width
		&[type="submit"]
			margin-top: 10px
	label, .error
		font-weight: bold
	.error
		color: #F00
		font-style: italic
		padding-bottom: 20px
		text-align: center
