.form_wrapper
	margin-top: 10px
	form
		table
			margin: 0 auto
			tr
				td
					text-align: right
					input
						&[type="password"], &[type="text"]
							margin: 5px 0 10px 0
							width: 225px
						&[type="submit"]
							height: 30px
							width: 100%
							margin-top: 5px
					label
						font-weight: bold
						text-align: right
	.error
		color: #F00
		font-style: italic
		padding-bottom: 10px
		text-align: center
