// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	background-color: #FCFCFC;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: solid 1px #555;
	padding: 10px;
	width: 450px;
}

.list {
	background-color: #FFFFCC;
	border: solid 1px #BABABA;
	margin: 0;
}

.list tr {
	&:hover {
		background-color: #FAFAFA;
	}
	&:not(:last-child) td {
		border-bottom: solid 1px #6699FF;
	}
}

.list td {
	&:first-child {
		text-align: center;
		width: 50px;
	}
	&:nth-child(2) {
		border-color: #FF0099;
		border-style: solid;
		border-width: 0 1px;
		width: 3px;
	}
	input[type="text"] {
		background: none;
		border: 0;
		margin: 5px 10px;
		outline: none;
		width: 400px;
	}
}

.tabs {
	left: -40px;
	line-height: 1em;
	list-style: none;
	margin-top: 1px;
	position: relative;
	z-index: 2;
}

.tabs li {
	float: left;
	&:nth-child(2) {
		padding-left: 2px;
	}
}

.tabs a {
	background-color: #FCFCFC;
	border-bottom: solid 1px #555;
	border-left: solid 1px #555;
	border-right: solid 1px #555;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#logged_in_user, #notification {
	display: table-cell;
}

#logged_in_user {
	padding-right: 10px;
	text-align: right;
}

#reset_password, #sign_up {
	margin-bottom: 10px;
	margin-top: 5px;
}

#sign_in {
	margin-bottom: 10px;
	margin-top: 10px;
}

#update_account {
	margin-top: 5px;
}

#user_current_password, #user_email, #user_password, #user_password_confirmation {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
